#linked-highlighting-map {
    float: left;
}

#controls {
    display: flex;
}

#district-type-div {
    flex: 0 0 240px;
}

#grade-level {
    flex: 0 0 300px;
    margin-left: 40px;
}

#grade-level .noUi-value-large {
    margin-top: 5px;
}